
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="fb:app_id" content="1878792532378003" />
    <meta property="og:site_name" content="apps.tentstudy.xyz" />
    <meta property="og:title" content="Bói tình duyên" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://apps.tentstudy.xyz/xem-boi/images/tinhduyen/<%- data.file %>" />
    <meta property="og:image" content="https://apps.tentstudy.xyz/xem-boi/images/tinhduyen/<%- data.file %>"  />
    <meta property="og:image:type" content="image/gif" />
    <meta property="og:image:width" content="650" />
    <meta property="og:image:height" content="650" />
    <meta property="og:description" content="Bói tình duyên"/>
    <title>Bói tình duyên</title>
    <link rel="shortcut icon" type="image/png" href="https://tentstudy.xyz/images/icons/favicon.png"/>
  </head>
  <body>
    <img src="https://apps.tentstudy.xyz/xem-boi/images/tinhduyen/<%- data.file %>" alt="" />
  </body>
</html>
